@charset "utf-8";
.PanelPrincipal {
	font-family: "Comic Sans MS", cursive;
	background-attachment: fixed;
	background-image: url(../Recursos/fondo.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	border-top-width: medium;
	border-right-width: medium;
	border-bottom-width: medium;
	border-left-width: medium;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	cursor: auto;
	page-break-before: auto;
	page-break-after: auto;
}
.body {
	background-attachment: fixed;
	background-image: url(../Recursos/fondo.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
.cursotext{
	text-align: center;
	font-family: 'Devonshire', cursive;
	
}
#centroPanel {
	position: absolute;
	width: 800px;
	height: 500px;
	z-index: 1;
	top: 5%;
	left: 20%;
	margin-left: auto;
}
#Banner {
	position: absolute;
	width: 800px;
	height: 90px;
	z-index: 1;
	left: 0%;
	border-top-color: #006;
	border-right-color: #006;
	border-bottom-color: #006;
	border-left-color: #006;
	color: #CCCCCC;
	top: 0;
	background-color: #FFFFFF;
}
#menu {
	position: relative;
	width: 800px;
	height: 25px;
	z-index: 2;
	left: auto;
	top: 0;
	overflow: visible;
}
#MenuUser {
	position: absolute;
	width: 60px;
	height: 60px;
	z-index: 1;
	left: 42%;
	top: 5%;
}
#menuConfig {
	position: absolute;
	width: 60px;
	height: 60px;
	z-index: 2;
	left: 53%;
	top: 5%;
}
#TextConfig {
	position: absolute;
	width: 95px;
	height: 20px;
	z-index: 3;
	left: 397px;
	top: 94px;
	visibility: hidden;
	font-weight: bold;
	text-align: center;
	color: #FFF;
	font-family: Verdana, Geneva, sans-serif;
}
#apDiv1 {
	position: absolute;
	width: 80px;
	height: 15px;
	z-index: 3;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	left: 38%;
	top: 67px;
	visibility: visible;
}
.body #centroPanel #CuerpoText #docs-internal-guid-38d814e7-d357-93f8-4477-bccc5bfa7d9d {
	font-family: "Lucida Console", Monaco, monospace;
}
.body #centroPanel #CuerpoText p #docs-internal-guid-38d814e7-d357-93f8-4477-bccc5bfa7d9d {
	font-size: 18px;
}
.body #centroPanel #CuerpoText p {
	font-size: 14px;
}
#menuConfig {
	position: absolute;
	width: 60px;
	height: 60px;
	z-index: 2;
	left: 56%;
	top: 5%;
}
#TextConfig {
	position: absolute;
	width: 95px;
	height: 20px;
	z-index: 3;
	left: 53%;
	top: 67px;
	visibility: visible;
	font-weight: bold;
	text-align: center;
	color: #006;
	font-family: Verdana, Geneva, sans-serif;
}
#AddUser {
	position: absolute;
	width: 87px;
	height: 20px;
	z-index: 3;
	color: #000066;
	font-weight: bold;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	left: 322px;
	top: 67px;
	visibility: visible;

	
}
#apDiv2 {
	position: absolute;
	width: 200px;
	height: 90px;
	z-index: 4;
	left: 10%;
}
#CuerpoText {
	position: absolute;
	width: 600px;
	height: 224px;
	z-index: 4;
	left: 10%;
	top: 20%;
	font-weight: bold;
	font-size: 36px;
}
#apDiv3 {
	position: absolute;
	width: 200px;
	height: 115px;
	z-index: 1;
	left: -192px;
	top: 272px;
}
#parrafo {
	position: absolute;
	width: 480px;
	height: 115px;
	z-index: 2;
	font-size: 12px;
	top: 104px;
	left: 25%;
}
#AddEstudiante{
	width:370px;
	border:1px solid #0F23C0;
	borde-radius:3px;
	-moz-borde-radius:3px;
	-webkit-borde-radius:3px;
	box-shadow:inset 0 0 10px #06C;
	margin:1px auto;	
}
#AddEstudiante h1{
	text-align:center;
	color: #009;
	font-weight:normal;
	font-size:20pt;
	margin: 10px 5px;
    font-family: 'Alex Brush', cursive;
}
.body #centroPanel #CuerpoText #form1 label #cursoText {
	font-size: 16px;
}
#InfoCurso{

	position: absolute;
	width: 315px;
	height: 280px;
	z-index: 2;
	left: 23%;
	top: 120px;
	border: 1px solid #0F23C0;
	borde-radius: 1px;
	-moz-borde-radius: 5px;
	-webkit-borde-radius: 5px;
	box-shadow: inset 0 0 15px #06C;
	margin: 5px auto;
	font-size: 12px;
}
.body #centroPanel #CuerpoText .cursotext {
	font-size: 16px;
}
