
body{

	font-family: 'Lato', sans-serif;
}
img{

	max-width: 15%;
}

tr{
	max-width: 50%;
}
.quitar-float{
	float: none ;
}
.espacio-arriba{
	margin-top: 100px;
}
.espacio-abajo{
	margin-bottom: 50px;
}
.espacio-izquierda{
	margin-left: 40em;
}
.espacio-izquierda2{
	margin-left: 20em;
}
.pacifico{
	font-family: 'Pacifico', cursive;
}
.grande{
	font-size: 3em;
}
.mediano{
	font-size: 1.5em;
}
.verde{
	color :#00887C;
}
.gris{
	color:#eee;
}
.negro{
	color: #000000;
}
a,.azul{
	color:#009FFF;
}
.espacio-derecha{
	margin-right: 1em;
}
.no-lista li{
	list-style-type:  none;
}

.no-lista{
	margin: 0px;
	padding: 0px;
}

.se-gris{
	background-color: #eee;
}
.se-negro{
	background-color: #000000;
}
.padding-largo{
	padding: 5px 10px; 
}

.pantalla{
	float: none;
	display: inline-block;
	margin-right: -4px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pequeño{
	max-width: 25%;
}


