<!DOCTYPE html>
<html>
<head>
<meta charset =	"utf-8">
{%load static from staticfiles %}
<link rel="stylesheet"  href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet"  href="{% static 'css/main.css' %}">
<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
<title>Informacion Academica</title>
</head><body>
<nav class = "se-gris padding-largo">
  <ul class ="no-lista text-center">
    		<a href="/" class ="espacio-derecha">Ingreso</a>	
			<a href="/registro/" class ="espacio-derecha">Registro</a>	
			<a href="/reportes/" class ="espacio-derecha">Reportes</a>
            <a href="/curso_estudiante/" class ="espacio-derecha">Incribirse a un Curso</a>
            <a href="/academicHistory/" class ="espacio-derecha">Registro de datos Profecionales</a>
            <a href="/calificar/" class ="espacio-derecha">Calificar</a>
            <a href="/mastherteacher/" class ="espacio-derecha">Inscripcion Master Teacher</a>
  </ul>
</nav>
<section>
  <div class = "text-center">
    <h1 class=" grande azul">Master Teacher: Programa CREATIC del
      CIER­Sur </h1>
    <div id="parrafo">
      <h4>
        Los datos adicionales recolectados en este formulario son privados y serán usados únicamente para la
        realización de un estudio analítico en el ámbito del programa de formación CREATIC del CIER­Sur.<br>
        Muchas gracias por su colaboración.
      </h4>
      <h3> INFORMACION MASTER TEACHER <br>
        <br>
      </h3>
      <!--Mauro castillo Creacion de formulario renderin persona-->
<!--Esto es un comentario-->
      <form action="" method="POST">{% csrf_token %}
          {{ form.as_p }}
        <input type="submit" class ="btn btn-primary" name="submit" value="Ingresar Informacion">
      </form>
    </div>
  </div>
</section>
</body>
</html>