{% extends "base.html" %}

{% block title %}Registro{% endblock %}

 {% block body %}

<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav text-center">
            <li > <a href="/" class ="espacio-derecha ">Ingreso</a></li>
            <li class="active" ><a href="/registro/" id ="registro" class ="espacio-derecha ">Registro</a></li>
            <li><a href="/reportes/" class ="espacio-derecha">Reportes</a></li>
            <li><a href="/curso_estudiante/" class ="espacio-derecha">Incribirse a un Curso</a></li>
            <li><a href="/mastherteacher/" class ="espacio-derecha">Inscripcion Master Teacher</a></li>
          </ul>
        </div>
      </div>
    </nav>

<br>


<section>
  <div class = "text-center">
    <h1 class =" grande negro"> Recolección de datos adicional: Programa CREATIC del
CIER­Sur </h1>
    <div id="parrafo">
      <h4>
        Los datos adicionales recolectados en este formulario son privados y serán usados únicamente para la
        realización de un estudio analítico en el ámbito del programa de formación CREATIC del CIER­Sur.<br>
        Muchas gracias por su colaboración.
      </h4>

      
    
<!--Mauro castillo Creacion de formulario renderin persona-->
<!--Esto es un comentario-->
      <form action="" method="POST">{% csrf_token %}
          {{ form.as_p }}
        <input type="submit" class ="btn btn-primary se-negro" name="submit" value="Ingresar Informacion">
      </form>
    </div>
  </div>
</section>
{%endblock%}
