<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Panel de Usuario
</title>
<link href="css/estillo.css" rel="stylesheet" type="text/css" />
</head>

<body class="body">
<div id="centroPanel">
  <div id="Banner">
    <div id="MenuUser"><a href="AddAspitante.html"><img src="Recursos/sign-up.png" width="56" height="56" alt="Usuario" /></a></div>
    <div id="TextConfig"><a href="config.html">Configuración</a></div>
    <div id="menuConfig"><a href="config.html"><img src="Recursos/config.png" width="60" height="58" alt="config" /></a></div>
    <div id="AddUser"><a href="AddAspitante.html">Inscribirse</a></div>
<div id="apDiv2"><a href="index.html"><img src="Recursos/logo_tribal_banner.png" width="188" height="90" alt="Tribal System" /></a></div>
  </div>
  <div id="CuerpoText"> <strong id="docs-internal-guid-38d814e7-d357-93f8-4477-bccc5bfa7d9d">SGC-HYDRA</strong>
    <p class="cursotext">Bienvenido </p>
    <form action="" method="post" name="form1" class="cursotext" id="form1">
      <p>
        <label for="curso"><strong id="cursoText">Seleccione un Curso</strong></label>
        <select name="curso" size="1" id="curso">
          <option>Fundamentos de redes</option>
        </select>
        
            <div id="InfoCurso">
    <p> Nombre Profesor:  --------------</p>
    <p> Email Profesor:  --------------</p>
    <p> Nombre Curso: -----------------</p>
    <p> Fecha de Inicio: --------------</p>
    <p> Fecha de Finalización: --------</p>
    <p> Nota del Curso: ----------------</p>
    </div>
      </p>
    </form>

   
  </div>
  
</div>
</body>
</html>
